body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
        
        p {
            font-size: 16px;
        }
        
        .margin {
            margin-bottom: 45px;
        }
        
        .bg-1 {
            background-color: #1abc9c;
            /* Green */
            color: #ffffff;
        }
        
        .bg-2 {
            background-color: #2a4d69;
            /* Dark Blue */
            color: #ffffff;
        }
        
        .bg-3 {
            background-color: #ffffff;
            /* White */
            color: #555555;
        }
        
        .bg-4 {
            background-color: #2f2f2f;
            /* Black Gray */
            color: #fff;
        }
        
        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        
        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 5px;
        }
        
        .navbar-nav li a:hover {
            color: 	#adcbe3 !important;
        }
.fixed{
    position: fixed;
    width: 100vw;
    height: 10px;
    z-index: 10000;
    bottom: 0px;
}

span.text-content {
  background: rgba(0,0,0,0.1);
  color: white;
  cursor: pointer;
  display: table;
  height: 430px;
  left: 0;
  position: absolute;
  top: 0;
  width: 595px;    
  margin-left: 15px
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 430px;
  left: 0;
  position: absolute;
  top: 0;
  width: 595px;
  opacity: 0;
}

div.img-list div:hover span.text-content {
  opacity: 1 ;
}

.auto{
    
    margin-top:-20px;
}

.placeholder{
    margin-left: 25%
}
